@{
    Layout = "_Layout";
}

<h1>Welcome to the Salon Homepage!</h1>
<p>@Html.ActionLink("View the Stylist List", "Index", "Sylists")</p>
<p>@Html.ActionLink("View the Client List", "Index", "Clients")</p>